.form{
    padding-top: 50px;
    margin: auto;
    width: 70%;
    }
    
input[type=text], [type=password] {
      width: 100%;
      padding: 12px 20px;
      margin-top: 40px;
      box-sizing: border-box;
      font-size: 20px;
    }
    

button{
        background-color: #000000;
        border: none;
        margin-top: 40px;
        color: #ffffff;
        font-size: 20px;
        padding: 16px 32px;
        text-decoration: none;
        cursor: pointer;
        }

    .button{
        margin:auto;
        width: 40%;
      }